POSTGRES_URL=postgresql://user:password@host/dbname?sslmode=require
MAILJET_API_KEY=your_mailjet_api_key
MAILJET_SECRET_KEY=your_mailjet_secret_key
MAILJET_FROM_EMAIL=your_verified_sender@gmail.com
ADMIN_EMAIL=tloukas2@uwo.ca
